{% extends 'base.html' %}

{% block content %}
<h1 clasee="text-center">EDIT</h1>
<form action="/articles/{{ article.pk }}/update/" method="POST"> <!-- POST를 쓰는 이유-->
{% csrf_token %} <!--POST 방식은 csrf 토큰 값을 같이 보내야함-->
<label for="title">TITLE</label><br>
<input type="text" name="title" id="title" value="{{ article.title }}"><br> <!-- value 값은 원래 pk번 글에 해당하는 제목 -->
<label for="content">CONTENT</label><br>
<textarea name="content" id="content" cols="30" rows="5">{{ article.content }}</textarea><br> <!-- textarea아는 value 속성이 없음. 그냥 태그 안에다가 넣으면 됨 -->
<input type="submit" value="submit">
</form>
<a href="/articles/{{ article.pk }}">[BACK]</a>
{% endblock  %}