<!-- 2. axios CDN으로 사용하기 -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    img {
      width: 300px;
      height: 300px;
    }
  </style>
</head>

<body>
  <div id="app">
    <button v-on:click="getDogImage">ADD DOG</button>
    <button v-on:click="getCatImage">ADD CAT</button>
    <br>
    <!-- <img v-bind:src="image" alt="img"> -->
      <img v-for="image in images" v-bind:src="image" alt="img" v-if="image">
  </div>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    // app 함수 methods 안에 getDogImage와 같이 만들어도 되고,
    // methods가 너무 길어지면 아래와 같이 밖으로 빼서 함수로 만들어도 된다.
    const cat = function () {
          const URL = 'https://api.thecatapi.com/v1/images/search'
          axios.get(URL)
            .then(response => {
              // this.image = response.data[0].url
              this.images.push(response.data[0].url) 
            })
        }

    const app = new Vue({
      el: '#app',
      data: {
        // image: '',
        images: [], // 요청 받은 데이터를 넣어야 하기 때문에 빈 문자열로 둠
      },
      methods: {
        getCatImage: cat,
        getDogImage: function () {
          const URL = 'https://dog.ceo/api/breeds/image/random'
          axios.get(URL)
            .then(response => {
              // 같은 인스턴스 안에 data 내의 속성 값은 this 키워드를 통해서 접근
              // this.image = response.data.message
              this.images.push(response.data.message) 
            })
        },
        
      }
    })
  </script>
</body>

</html>